@font-face {
    font-family: 'rosinha';
    src: url('fonts/Roseberry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'gobold';
    src: url('fonts/Gobold\ Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    
    margin-left: 20px;
    color: white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    font-family: 'rosinha';
    font-size: 3em;
    color: white;
   
}

h2{
    font-size: 28px;
}
    


h3{
    font-family: 'gobold';
    font-size: 22px;

}

img{
    width: 125px;
}

.container{
    display: flex;
    align-items: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    display: inline-block;
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #6d1e31, #6d1e31, #6d1e31);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  
  .btn:hover .btn-text-two {
    top: 50%;
  }
  