@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

*{
  margin: 0;
  padding: 0;
}

header{
  text-align: center;
  font-family: 'Alkatra', cursive;;
  font-size: 2rem;
  letter-spacing: 5px;
 }

 body{
  color: white;
  background-image: url('images/Rectangle\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
 }

 div.box{
  height: 230px;
  width: 680px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  align-items: center;
  
}


img{
  height: 150px;
  width: 150px;
  position: absolute;
  left: -6%;
  top: 10%;
  cursor: pointer;
  }

  .img-rotate{
  overflow: hidden;
  min-width: 150px;
  min-height: 150px;
  max-width: 100%;
}

.img-rotate img{
  transition: all 1s;
  box-sizing: border-box;
  max-width: 100%;
}

.img-rotate:hover img{
  transform: scale(1.5) rotate(5deg);
}

h2{
  color: rgb(253, 251, 251);
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 15%;
  left: 10%;
}

p{
  color: rgb(255, 252, 252);
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  left: 11%;
  
}