@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
}

header{
  text-align: center;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 2rem;
  letter-spacing: 5px;
 }

 body{
  color: white;
  background-image: url('images/Rectangle\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
 }

 div.box{
  height: 250px;
  width: 680px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  position: relative;
  align-items: center;
  
}

img{
  height: 150px;
  width: 150px;
  position: absolute;
  left: -6%;
  top: 10%;
}

h2{
  color: rgb(253, 251, 251);
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 15%;
  left: 10%;
}

p{
  color: rgb(255, 252, 252);
  font-size: 1.3rem;
  font-family: sans-serif;
  position: absolute;
  top: 40%;
  left: 11%;
}